.login {
    height: 100vh;
    background-image:linear-gradient(#0000007e, #0000007e),  url(background_banner.jpg);
    padding: 1.5rem 8%;
}

.login-logo {
    width: 10rem;
}

.login-form {
    width: 100%;
    max-width: 28rem;
    background: rgb(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 3.5rem;
    margin: auto;
}

.login-form h1 {
 font-size: 2rem;
 font-weight: 500;
 margin-bottom: 2rem;
}

.login-form input {
    width: 100%;
    height: 4rem;
    background: #333;
    color: white;
    margin: 0.5rem 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.login-form button {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 1rem;
    background: #e50914 ;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    cursor: pointer;
}

.form-help {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 0.8rem;

}

.remember {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.remember input {
    width: 1rem;
    height: 1rem;
}


.form-switch {
    margin-top: 3rem;
    color: #737373;
}

.form-switch span {
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.login-spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-spinner img {
    width: 60px;
}


@media (max-width: 500) {
    .login {
        padding: 1rem 5%;
    }

    .login-form {
        padding: 1.5rem;
        margin-top: 2rem;
    }
}