
.hero {
    position: relative;
}

.banner-img {
    width: 100%;

    mask-image: linear-gradient(to right,
        transparent,    /* left side fully hidden */
        black 20%,      /* start fade-in */
        black 80%,      /* end fade-out */
        transparent     /* right side fully hidden */
    );

    -webkit-mask-image: linear-gradient(to right,
        transparent,
        black 20%,
        black 80%,
        transparent
    );
}

.hero-caption {
    position: absolute;
    width: 100%;
    padding: 0 6%;
    bottom: 0;
}

.caption-img {
    width: 90%;
    max-width: 25rem;
    margin-bottom: 2.5rem;
}

.hero-caption p {
    max-width: 43rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.hero-btns {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 3.2rem;
}

.hero-btns .btn img {
    width: 1.5rem;
}
.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn {
color: #fff;
background: #6d6d6eb3;
}

.hero-btns .btn:hover {
    background: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}

.more-cards {
    padding: 0 2%;
}


@media (max-width: 1024px) {
    .main-card {
        display: none;
    }

    .hero-btns {
        margin-bottom: 2rem;
    }
}

@media (max-width: 800px) {
    .hero-caption{
        padding-left: 4%;
    }

    .caption-img {
        margin-bottom: 0.5rem;
        width: 40%;
    }

    .hero-caption p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .btn img {
        width: 1.5rem;
    }

    .nore-cards {
        padding-left: 4%;
    }
}


@media (max-width: 500px)  {
    .caption-img {
        display: none;
    }

    .hero-btns .btn img {
        width: 1rem;
    }

    .hero-btns .btn {
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }

}