.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 1rem;
    color: #e5e5e5;
    background-image: linear-gradient(180dg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    gap: 1.5rem;
}

.navbar-left ul li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar-right .icons {
    width: 1.5rem;
    cursor: pointer;
}

.navbar-right .profile {
    border-radius: 4px;
    width: 2rem;
}

.navbar-right .navbar-profile {
    display: flex;
    gap: 0.5rem;
    position: relative;

}

.navbar-right .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: underline;
    z-index: 1;
}

.navbar-right .dropdown p {
    font-size: 1rem;
    cursor: pointer;
}

.navbar-profile:hover .dropdown {
    display: block;
}

.nav-dark {
    background: black;
}

@media (max-width: 1180px) {
    .navbar-left ul {
        display: none;
    }
}


@media (max-width: 800px) {
    .navbar {
        padding: 1.5rem 4%;
    }


    .navbar img {
        height: 1.8rem;
    }
}

@media (max-width: 500px) {
    .navbar img {
        height: 1.5rem;
    }

    .navbar-right {
        gap: 0.5rem;
    }
}