.footer {
    padding: 2rem 4%;
    max-width: 1000px;
    margin: 0 auto;
    /* justify-content: center; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.footer-icons {
    display: flex;
    gap: 1rem;
    margin: 2.5rem 0;
}


.footer-icons img {
    width: 2rem;
    cursor: pointer;
}

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer li {
    cursor: pointer;
}

.copyright-text {
    color: gray;
    font-size: 1rem;
}


@media (max-width: 800px) {
    .footer-icons img {
        width: 1.5rem;
    }

    .footer-icons ul {
        grid-template-columns: auto auto;
        gap: 0.5rem;
        font-size: 1rem;
    }
}
